
<div id="footer_upperZone">
    <div class="grid-menu-big">
        <ul class="f1_1">
            <li><a href="javascript:void(0)">Gift Card</a></li>
            <li><a href="https://www.google.it/maps/place/Via+Francesco+Saverio+Solari,+16,+00149+Roma+RM/@41.8616445,12.4558418,16.5z/data=!4m6!3m5!1s0x13258aa34365ba13:0xdd1ab3b728d6d77a!8m2!3d41.8629905!4d12.4560843!16s%2Fg%2F11f2_mg9tz?entry=ttu">Trova un negozio</a></li>
            <li><a href="javascript:void(0)">Diventa membro esclusivo</a></li>
            <li><a href="javascript:void(0)">Invia feedback</a></li>
        </ul>
        <ul *ngIf="configServices.getResize()">
            <li class="f1_1"><a href="javascript:void(0)">Informazioni su LABair</a></li>
            <li><a href="javascript:void(0)">News da LABAir</a></li>
            <li><a href="javascript:void(0)">Lavora con noi</a></li>
            <li><a href="javascript:void(0)">Cosa dicono gli investitori</a></li>
            <li><a href="javascript:void(0)">Il nostro obiettivo</a></li>
        </ul>
        <ul *ngIf="configServices.getResize()">
            <li class="f1_1"><a href="javascript:void(0)">Unisciti a noi</a></li>
            <li><a href="javascript:void(0)">LABair App</a></li>
            <li><a href="javascript:void(0)">LABair club</a></li>
            <li><a href="javascript:void(0)">Il nostro Forum</a></li>
        </ul>
    </div>
    <div class="grid-menu-icon">
        <ul>
            <li><a href="javascript:void(0)" class="fab fa-facebook"></a></li>
            <li><a href="javascript:void(0)" class="fab fa-youtube"></a></li>
            <li><a href="javascript:void(0)" class="fab fa-twitter"></a></li>
            <li><a href="javascript:void(0)" class="fab fa-instagram"></a></li>
        </ul>
    </div>
</div>
<div id="footer_lowerZone" class="marginT_10">
    <div class="menudx" *ngIf="configServices.getResize()">
        <ul>
            <li><a href="javascript:void(0)" class="padding_width5">Condizioni d'uso</a></li>
            <li><a href="javascript:void(0)" class="padding_width5">Condizioni di vendita</a></li>
            <li><a href="javascript:void(0)" class="padding_width5">Info legali e societarie</a></li>
        </ul>
    </div>
    <div class="menusx">
            <p class="cwhite margin0">	&copy; 2024 LABair S.p.A. Tutti i diritti riservati.</p>
    </div>

</div>
