/* use this partial in external scss as col */

$bg-Upper-Header: #cdcdcd;
$a-hover: rgb(101, 104, 79);
$secondary-paint: #9c9c9c;
$bg-footer: #343434;
$bg-Header: #F5F5F5;
$bg-Header-gradient: $bg-Header;
$border-littleGrey: rgba(128, 128, 128, 0.5); // border grey semi trasparent